doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/stylesheetMobile.css')
    body
        block content
            div.main
                img.imgBgHolder(src='/pictures/landingBackground.jpg')
                div.imgBox
                    img.imglogo(src='/pictures/logo_transparent.png' alt='logo')