body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
html {
  height: 100%;
  width: 100%;
}

body {
  background-color: white;
  font-family: Segoe UI, sans-serif;
  height: 98%;
  width: 99%;
  overflow: hidden;
}

.main {
  background-color: deeppink;
  width: 40%;
  height: 50%;
  margin: 13em auto;
  border-radius: 5px;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.4);
  text-align: center;
}
